<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
    <link rel="stylesheet" href="main.css">
</head>
<body ng-app="myApp">
  <div ng-controller="mainController as mainCtrl">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header center">
          <span class="heading"> TWEETS</span>
        </div>
        <ul class="nav navbar-nav">
        </ul>
      </div>
    </nav>
    <ul class="nav nav-tabs tabs">
      <li class="active"><a data-toggle="tab" ng-click="mainCtrl.tabOne = true; mainCtrl.tabTwo = false;">Tweets</a></li>
      <li><a data-toggle="tab" ng-click="mainCtrl.tabOne = false; mainCtrl.tabTwo = true; mainCtrl.fetchFollowers()">Followers</a></li>
    </ul>

    <!-- Tweets  -->
    <div class="tweet-body col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-10 col-xs-offset-1" id="txt" ng-bind-html="mainCtrl.html | trustHtml">
    </div>
  </div>
</body>
</html>
<script src="app.js"></script>
